.subheader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  @apply text-gray-600 text-base leading-4;
  
  .part {
    white-space: nowrap;
    
    .divider {
      @apply mx-2
    }
    
    &:last-child .divider {
      display: none;
    }
  }
  
  &.active {
    flex-direction: column;
    
    @apply text-lg text-black;
    
    .divider {
      display: none;
    }
  }
}